.feedback-form h3 {
  font-family: $ff-Roboto-Condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin: 0;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.feedback-form p {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 34px;
  }
}

.feedback-form__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
  margin-left: 5px;
  margin-right: 10px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.feedback-form__item {
  &--question {
    grid-column: 1/-1;
  }

  &--btn {
    font-size: 16px;
    background-color: $color-black-pearl-darker;
    border: none;
    padding: 15px 25px;
    padding-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-right: 10px;
  }

  &--agreement {
    font-size: 14px;
    line-height: 16px;
    padding-left: 36px;
    align-self: end;
    order: 1;

    & label {
      position: relative;
    }
  }

  @include vp-1023 {
    &--btn {
      margin-right: 55px;
      padding-top: 18px;
      padding-bottom: 11px;
    }

    &--agreement {
      padding-left: 25px;
      margin-bottom: 4px;
    }
  }

  @include vp-767 {
    &--btn {
      margin: 0;
      margin-top: 5px;
      padding-top: 15px;
    }

    &--agreement {
      margin: 0;
      margin-top: 5px;
      padding-left: 30px;
    }
  }
}

.feedback-form *::placeholder {
  color: $color-default-white;
}

.feedback-form input:not([type="checkbox"]),
.feedback-form textarea {
  width: 100%;
  padding: 15px;
  background-color: $color-pacific-blue;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: $color-cerulean;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid $color-default-white;
  border-radius: 2px;

  &:hover {
    background-color: $color-cerulean;
  }

  &:focus {
    outline: 1px solid $color-default-white;
    outline-offset: 0;
  }
}

input:checked {
  background: url("../img/sprite/icon-checkbox.svg");
}

input[type="checkbox"] + span {
  cursor: pointer;
}

input:not(:checked) ~ span {
  color: rgb(223, 54, 54);
}

.feedback-form textarea {
  padding-top: 25px;
  min-height: 155px;

  @include vp-1023 {
    padding-top: 34px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-top: 28px;
    min-height: 182px;
  }
}
